.header-buttons
    padding: 8px

.header-buttons .button
    margin-right: 8px
    min-width: 100px

.button-primary
    border: 0
    background: #47cf73
    color: black

.button-secondary
    border: 0
    background: #444857